.nidhal {
  width: 200px;
  height: 200px;
}

.c1 {
  background-color: aqua;
  color: black;
}
.c2 {
  background-color: pink;
  color: greenyellow;
}
.c3 {
  background-color: rebeccapurple;
  color: white;
}
