<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact : true}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['cv']" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact : true}">CV</a>
    </li>
    <li *ngIf="loginSer.estConnecte()" class="nav-item">
        <a class="nav-link" [routerLink]="['cv/add']" routerLinkActive="active">Add CV</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['servers']" routerLinkActive="active">Servers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['accounts']" routerLinkActive="active">Accounts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['ms-word']" routerLinkActive="active">Ms-Word</a>
    </li>
    <li *ngIf="!loginSer.estConnecte()" class="nav-item">
        <a class="nav-link" [routerLink]="['login']" routerLinkActive="active">Login</a>
    </li>
    <li *ngIf="loginSer.estConnecte()" class="nav-item">
        <button (click)="logout()" class="nav-link" routerLinkActive="active">Logout</button>
    </li>

</ul>